@import "tailwindcss";

@font-face{
    font-family: 'Lora';
    src: url('/fonts/Lora-Italic-VariableFont_wght.ttf') format('truetype');
}
.lora-font{
    font-family: 'Lora';
}

@font-face{
    font-family: 'ElmsSans';
    src: url('/fonts/ElmsSans-Italic-VariableFont_wght.ttf') format('truetype');
}
.ElmsSans-font{
    font-family: 'ElmsSans';
}

@font-face{
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}
.Inter{
    font-family: 'Inter';
}





