 .formAddContainer {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            /* top: 3%;
            left: 32%; */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.698);
        }

        /* width de scroll (y) */
        .formAdd::-webkit-scrollbar {
            width: 8px;
        }

        /* track => le brder raduis et bg du scrol qui en arrire */
        .formAdd::-webkit-scrollbar-track {
            background-color: #eee;
            border-radius: 12px;
        }

        /* track => la partie qui je peut changer avec souris */
        .formAdd::-webkit-scrollbar-thumb {
            background-color: #777;
            border-radius: 12px;
        }

        .formAdd::-webkit-scrollbar-thumb:hover {
            background-color: #777;
        }

        .availableworkersbg {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(0 0 0 / 18%);

        }

        .availableworkersList::-webkit-scrollbar {
            width: 8px;
        }

        .availableworkersList::-webkit-scrollbar-track {
            background-color: #eee;
            border-radius: 12px;
        }

        /* track => la partie qui je peut changer avec souris */
        .availableworkersList::-webkit-scrollbar-thumb {
            background-color: #777;
            border-radius: 12px;
        }

        .availableworkersList::-webkit-scrollbar-thumb:hover {
            background-color: #777;
        }

        .modalDetailWorkerBg {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(0 0 0 / 18%);
        }

        .modalDetailWorker .divdetail::-webkit-scrollbar {
            width: 8px;
        }

        .modalDetailWorker .divdetail::-webkit-scrollbar-track {
            background-color: #eee;
            border-radius: 12px;
        }

        .modalDetailWorker .divdetail::-webkit-scrollbar-thumb {
            background-color: #777;
            border-radius: 12px;
        }

        .modalDetailWorker .divdetail::-webkit-scrollbar-thumb:hover {
            background-color: #777;
        }

        /* pour sidebar */
        .workernoUnsignedSide::-webkit-scrollbar {
            width: 8px;
        }

        .workernoUnsignedSide::-webkit-scrollbar-track {
            background-color: #eee;
            border-radius: 12px;
        }

        /* track => la partie qui je peut changer avec souris */
        .workernoUnsignedSide::-webkit-scrollbar-thumb {
            background-color: #777;
            border-radius: 12px;
        }

        .workernoUnsignedSide::-webkit-scrollbar-thumb:hover {
            background-color: #777;
        }

        /* responsive du mobile   */
        /* @media (max-height: 700px) and (orientation: landscape) { */
        @media (max-width: 850px) and (orientation: landscape) {
            .workernoUnsignedSide {
                width: 25%;
            }

            .listWorkers .worker {
                width: 9rem;
                height: 3rem;
            }

            .listWorkers .worker img {
                width: 2rem;
                height: 1rem;
            }

            .listWorkers .imgWorkerUnsigned {
                width: 33px !important;
                height: 2rem !important;
            }

            .listWorkers .worker div {
                font-size: 13px;
                width: 16px;
            }

            .main {
                /* background-color: red; */
                height: 25rem;
            }

            .availableworkersbg .availableworkersList {
                width: 21rem;
                height: 65%;
            }

            .modalDetailWorker {
                left: 14rem;
                width: 19rem;
                height: 22rem;
            }

            .Mainplan {
                /* height: auto;
                overflow-y:visible; */
            }

            .Mainplan div {
                height: 100%;
            }

            .Mainplan div img {
                height: 98%;
            }


            .boxes .BtnTitle {
                width: 9rem;
                height: 2rem;

            }

            .box4 .BtnTitle {
                top: 2rem;

            }

            .box5 .BtnTitle {
                top: -0.5rem;

            }

            .box6 .BtnTitle {
                top: 0.79rem;

            }

            .DivworkerInRoomBox1 {
                top: 24px !important;
            }

            .boxes div {
                width: 5rem;
                height: 29px;
            }

            .DivworkerInRoomBox2 {
                top: 1rem !important;
                height: 8rem !important;
            }

            .DivworkerInRoomBox3 {
                top: 0.3rem !important;
                height: 8rem !important;
            }

            .DivworkerInRoomBox4 {
                top: 2rem !important;
                height: 16rem !important;
            }

            /* .DivworkerInRoomBox5 {
                        top: 4rem !important;
        height: 16rem !important;
            } */

            .DivworkerInRoomBox6 {
                top: 1rem !important;
                height: 8rem !important;
            }

            .titleLogo {
                width: 9rem;
            }

            .titleLogo h1 {
                font-size: 14px;
            }

            .titleLogo img {
                width: 2rem;
            }

            formulaire add .formAdd {
                padding: 5px 0px;
                width: 27rem;
                height: 22rem;
            }

            .formAdd>img {
                left: 24rem;
                top: 7px;
            }
        }

        /* style pour tablette en paysage */
        @media (min-width: 851px) and (max-width: 1200px) and (orientation: landscape) {
            .workernoUnsignedSide {
                width: 19%;
            }

            .listWorkers .worker {
                width: 9rem;
                height: 3rem;
            }

            .listWorkers .worker img {
                width: 2rem;
                height: 1rem;
            }

            .listWorkers .imgWorkerUnsigned {
                width: 33px !important;
                height: 2rem !important;
            }

            .listWorkers .worker div {
                font-size: 13px;
                width: 16px;
            }

            .main {
                /* background-color: red; */
                height: 49rem;
            }

            .availableworkersbg .availableworkersList {
                width: 21rem;
                height: 65%;
            }

            .modalDetailWorker {
                left: 22rem;
                width: 26rem;
                height: 31rem;
            }

            .Mainplan {
                /* height: auto;
                overflow-y:visible; */
            }

            .Mainplan div {
                height: 100%;
            }

            .Mainplan div img {
                height: 98%;
            }


            .boxes .BtnTitle {
                width: 9rem;
                height: 2rem;

            }

            .box4 .BtnTitle {
                top: 4rem;

            }

            .box5 .BtnTitle {
                top: -0.8rem;

            }

            .box6 .BtnTitle {
                top: 1.5rem;

            }

            .DivworkerInRoomBox1 {
                top: 24px !important;
            }

            .boxes div {
                width: 5rem;
                height: 29px;
            }

            .DivworkerInRoomBox2 {
                top: 2rem !important;
                height: 16rem !important;
            }

            .DivworkerInRoomBox3 {
                top: 0.3rem !important;
                height: 16rem !important;
            }

            .DivworkerInRoomBox4 {
                top: 4rem !important;
                height: 31rem !important;
            }

            /* .DivworkerInRoomBox5 {
                        top: 4rem !important;
        height: 16rem !important;
            } */

            .DivworkerInRoomBox6 {
                top: 2rem !important;
                height: 15.1rem !important;
            }

            .titleLogo {
                width: 12rem;
            }

            .titleLogo h1 {
                font-size: 18px;
            }

            .titleLogo img {
                width: 3rem;
            }

            formulaire add .formAdd {
                padding: 5px 0px;
                width: 27rem;
                height: 22rem;
            }

            .formAdd>img {
                left: 24rem;
                top: 7px;
            }
        }